{% extends "layout/sign/base.html" %}
{% block form %}
<div class="card border-secondary mt-5" style="max-width: 30rem;" id="signup">
  <div class="card-header">登入</div>
  <div class="card-body">
    <form name="form1" action="">
      <label for="exampleInputEmail1">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="xxxxxx@gmail.com"
        onBlur="checkemail(this.value)">
      <p id="emailtype">Email格式錯誤，請重新輸入</p>
      <label for="exampleInputPassword1" class="mt-3">Password</label>
      <input type="password" class="form-control" onKeyUp="checkpwd(this.value)" onBlur="checkpwd(this.value)" value=""
        id="pwd" placeholder="請輸入八位數密碼" id="pwd">
      <p id="caution">密碼必須包含：大寫字母、小寫字母、數字</p>
    </form>
    <button type="button" class="btn btn-secondary disabled mt-3" id="btn">submit</button>
  </div>
</div>
<script>
  function checkemail(email) {
    emailRule = /^\w+((-\w+)|(\.\w+))*\@[A-Za-z0-9]+((\.|-)[A-Za-z0-9]+)*\.[A-Za-z]+$/;

    //validate ok or not
    if (email.search(emailRule) != -1) {
      document.getElementById("emailtype").style.display = "none";
    } else {
      document.getElementById("emailtype").style.display = "block";
    }
  }


  function checkpwd(pwd) {
    if (!(pwd.match(/^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,30}$/))) {
      document.getElementById("caution").style.display = "block";
    } else {
      document.getElementById("caution").style.display = "none"
    }
  }



  var btn = document.getElementById("btn");
  btn.onclick = function validate(e) {
    var emailInput = document.getElementById('exampleInputEmail1');
    if (emailInput.value.trim() == '') {
      // Add a class that defines an animation
      emailInput.classList.add('error');

      // remove the class after the animation completes
      setTimeout(function () {
        emailInput.classList.remove('error');
      }, 300);

      e.preventDefault();
    }
    var password = document.getElementById('pwd');
    if (password.value.trim() == '') {
      // Add a class that defines an animation
      password.classList.add('error');

      // remove the class after the animation completes
      setTimeout(function () {
        password.classList.remove('error');
      }, 300);

      e.preventDefault();
    }
  }
</script>
{% endblock %}