<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>choose type| main_category</title>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://bootswatch.com/4/minty/bootstrap.min.css">
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/main_category.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
        crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
</head>

<body>
    <div class="jumbotron height">
        <!-- <h1 class="display-3">管理者介面</h1> -->
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="#" role="button" id="addbtn">Add New Item</a>
        </p>
        <hr class="my-4">
        <div id="cardbox">
            {{main_cate_content|safe}}
        </div>

    </div>
    <div class="modal" id="modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Add new type</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="crossmodal">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <div class="form-group d-inline-block">
                            <label for="exampleSelect1">Example select</label>
                            <select class="form-control selectType w-100" onchange="otherBarAppear()" id="exampleSelect1">
                                <option>日用品</option>
                                <option>食品</option>
                                <option>衣物</option>
                                <option>家具</option>
                                <option>管罐</option>
                                <option>輔具</option>
                                <option>其他</option>

                            </select>
                        </div>
                        <div class="form-group d-inline-block ml-2 disappear" id="otherInput">
                            <input type="text" class="form-control" placeholder="請輸入其他" id="inputDefault">
                        </div>

                        <div style="margin-top: 10px">
                            <p>background-image</p>
                            <fieldset class="form-group" id="formofimg">
                                <div class="form-check float">
                                    <label class="form-check-label">
                                        <input type="radio" class="form-check-input" name="cate_img" id="optionsRadios1"
                                            value="option1" checked="">
                                        <img src="{% static 'css/img/main_category/main_category_food.jpg' %}" alt="food"
                                            class="photosize"></img>
                                    </label>
                                </div>
                                <div class="form-check float">
                                    <label class="form-check-label">
                                        <input type="radio" class="form-check-input" name="cate_img" id="optionsRadios2"
                                            value="option2">
                                        <img src="{% static 'css/img/main_category/main_category_goods.jpeg' %}" alt="food"
                                            class="photosize">
                                    </label>
                                </div>
                                <div class="form-check float">
                                    <label class="form-check-label">
                                        <input type="radio" class="form-check-input" name="cate_img" id="optionsRadios3"
                                            value="option3">
                                        <img src="{% static 'css/img/main_category/main_category_shampoo.jpeg' %}" alt="food"
                                            class="photosize">
                                    </label>
                                </div>
                            </fieldset>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <input type="button" class="btn btn-primary" id="savechange" value="Save changes" />
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" id="closemodal">Close</button>
                    </div>
                </div>
            </div>
        </div>


        <script src="/static/js/main_category.js"></script>
</body>