<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>practice</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" media="screen" href="{% static '/css/main.css' %}" />
</head>

<body>
    <div id="header">
        <div class="logo">
            <a href="https://dosw.gov.taipei/" class="social">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS_u857YNtkeZcJG2rDGOzJHHTB6RBBn_d5eG5RrxbZ0EopsJMI"
                    alt="social" width="249px" height="70px">
            </a>
        </div>
        <div class="search">
            <input type="text" value="SEARCH..." class="text">
            <input type="button" class="btn">
            <button class="login">Login</button>
        </div>
        <div class="login">

        </div>

    </div>
    <div id="nav">
        <ul>
            <li>
                <a href="#">關於我們</a>
            </li>
            <li>
                <a href="#">產品介紹</a>
            </li>
            <li>
                <a onclick="window.location.href='/main_category'">物資管理</a>
            </li>
            <li>
                <a href="#">技術研發</a>
            </li>
            <li>
                <a href="#">合作團隊</a>
            </li>
            <li>
                <a href="#">管理平台</a>
            </li>
            <li>
                <a href="#">線上客服</a>
            </li>
            <li class="last">
                <a href="#">加入我們</a>
            </li>
        </ul>
    </div>
    <div id="banner">
        <img src="{% static '/css/img/index/helpeachother.jpg' %}" alt="help" width="990px" height="464px">
    </div>
    <div id="news">
        <div class="news-1">
            <div class="section1">
                <h3>新聞資訊</h3>
                <ul>
                    <li>
                        <a href="#">噓聲迎日vs.掌聲送強烈對比</a>

                        <span class="right-date">2018-01-18</span>
                    </li>
                    <li>
                        <a href="#">噓聲韓 運動精神強烈對比</a>

                        <span class="right-date">2018-01-19</span>
                    </li>
                    <li>
                        <a href="#">噓聲迎日vs.掌精神強烈對比</a>

                        <span class="right-date">2018-01-20</span>
                    </li>
                    <li>
                        <a href="#">噓聲迎 運動精神強烈對比</a>

                        <span class="right-date">2018-01-21</span>
                    </li>
                    <li>
                        <a href="#">噓聲迎 運動精神強烈對比</a>

                        <span class="right-date">2018-01-22</span>
                    </li>
                </ul>
            </div>
            <div class="section2">
                <h3>公司介紹</h3>
                <p>成立於2018年，由2個充滿熱情的台大社工學生設立</p>
                <p>希望能改善社福界資訊落後的問題 </p>



            </div>
            <div class="section3">
            </div>


        </div>
        <div class="news-2">
            <h3>服務項目</h3>
            <div class="content">
                <div class="smallbox">
                    <img src="{% static 'css/img/index/welfare.jpg' %}" alt="women" width="210px" height="160">
                    <a href="#">社會福利資源整合：能快速知道所擁有的福利資格</a>
                </div>
                <div class="smallbox" style="margin: 0 40px">
                    <img src="{% static 'css/img/index/group.jpeg' %}" alt="group" width="210px" height="160">
                    <a href="#">團體記錄管理：提供團體帶領者系統化的資訊管理</a>
                </div>
                <div class="smallbox">
                    <img src="{% static 'css/img/index/consulation.png' %}" alt="consulation">
                    <a href="#">個案紀錄管理：系統化的保存個案紀錄，加強個資安全問題</a>
                </div>
                <div class="smallbox" style="margin-left: 40px">
                    <img src="{% static 'css/img/index/foodmanage.jpg' %}" alt="foodmanage">
                    <a href="#">物資效期管理：能有效管理物資，將物品送到符合需求的個案</a>
                </div>
            </div>



        </div>
    </div>
    <div id="footer">
        <div class="section1">
            <div class="view1">
                <h3>產品中心</h3>
                <ul>
                    <li>
                        <a href="#">汽車電機</a>
                    </li>
                    <li>
                        <a href="#">日用電機</a>
                    </li>
                    <li>
                        <a href="#">特種電機</a>
                    </li>
                    <li>
                        <a href="#">大功率電機</a>
                    </li>
                    <li>
                        <a href="#">電子設備</a>
                    </li>
                </ul>
                <ul>
                    <li>
                        <a href="#">汽車電機</a>
                    </li>
                    <li>
                        <a href="#">日用電機</a>
                    </li>
                    <li>
                        <a href="#">特種電機</a>
                    </li>

                </ul>
                <ul>
                    <li>
                        <a href="#">汽車電機</a>
                    </li>
                    <li>
                        <a href="#">特種電機</a>
                    </li>
                    <li>
                        <a href="#">大功率電機</a>
                    </li>
                    <li>
                        <a href="#">電子設備</a>
                    </li>
                </ul>
            </div>
            <div class="view2" style="margin:0px 50px">
                <h3>銷售網絡</h3>
                <ul>
                    <li>
                        <a href="#">汽車電機</a>
                    </li>
                    <li>
                        <a href="#">特種電機</a>
                    </li>
                    <li>
                        <a href="#">大功率電機</a>
                    </li>
                    <li>
                        <a href="#">電子設備</a>
                    </li>
                </ul>
            </div>
            <div class="view3">
                <h3>工作據點</h3>
                <img src="{% static 'css/img/index/map.png' %}" alt="taiwan" width="160px" height="180px">
            </div>
        </div>
        <div class="section2">
            <div class="class1">
                <a href="#">聯絡我們</a> |
                <a href="#">加入我們</a> |
                <a href="#">客服專線</a> |
                <a href="#">轉職詢問</a>
            </div>
            <div class="class2">
                <p>COPYRIGHT&nbsp;&copy;&nbsp;還沒想到名字集團&nbsp;版權所有</p>
                <a href="#">
                    <img src="{% static 'css/img/index/fb.png' %}" alt="fb" width="30px" height="30px">
                </a>&nbsp;
                <a href="#">
                    <img src="{% static 'css/img/index/line.png' %}" alt="fb" width="30px" height="30px">
                </a>
                <a href="#">
                    <img src="{% static 'css/img/index/qq.png' %}" alt="fb" width="30px" height="30px">
                </a>
                <a href="#">
                    <img src="{% static 'css/img/index/instagram.jpg' %}" alt="fb" width="30px" height="30px">
                </a>
            </div>
        </div>

    </div>

    <!--<script src="js/practice.js"></script>-->
</body>

</html>