<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Catagory Table</title>

    <link rel="stylesheet" href="https://bootswatch.com/4/cosmo/bootstrap.min.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" media="screen" href="{% static '/css/table.css' %}" />
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 px-0">
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <a class="navbar-brand" href="#">Navbar</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03"
                        aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarColor03">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="#">Home
                                    <span class="sr-only">(current)</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Features</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Pricing</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">About</a>
                            </li>
                        </ul>
                        <form class="form-inline my-2 my-lg-0">
                            <input class="form-control mr-sm-2" type="text" placeholder="Search">
                            <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
                        </form>
                    </div>
                </nav>
            </div>
        </div>
        <div class="row mt-5 ml-3">
            <div class="col-4">
                <button type="button" class="btn btn-outline-secondary addBtn">New Item</button>
            </div>
        </div>

        <div class="row mt-5">
            <div class="tableBox">
                <table class="table table-hover tableSetting">
                    <thead>
                        <tr>
                            <th scope="col">Type</th>
                            <th scope="col">Suggest Recipient</th>
                            <th scope="col">Expiration</th>
                            <th scope="col">Note</th>
                        </tr>
                    </thead>
                    <tbody class="tableBody">
                        <tr class="table-active">
                            <th scope="row">奶粉</th>
                            <td>楊梅區莫先生</td>
                            <td>2019/01/05</td>
                            <td>莫先生家裡小孩很多</td>
                        </tr>
                        <tr class="table-danger">
                            <th scope="row">洗髮精</th>
                            <td>中和區許媽媽</td>
                            <td>2018/11/1</td>
                            <td>許媽媽要護色洗髮精</td>
                        </tr>

                    </tbody>
                </table>
            </div>

        </div>

        <div class="modal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Add New Item</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>





                    <div class="modal-body">
                        <div class="form-group">
                            <label class="col-form-label col-form-label-sm" for="inputSmall">Type</label>
                            <input class="form-control form-control-sm w-50" type="text">
                            <label class="col-form-label col-form-label-sm" for="inputSmall">Suggest Recipient</label>
                            <input class="form-control form-control-sm w-50" type="text">
                            <label class="col-form-label col-form-label-sm" for="inputSmall">Expiration</label>
                            <input type="text" id="datepicker" class="form-control form-control-sm w-50" placeholder="mm/dd/yy">
                            <label class="col-form-label col-form-label-sm" for="inputSmall">Note</label>
                            <input class="form-control form-control-sm w-50" type="text">

                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary saveBtn">Save changes</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>










    <script src="/static/js/table.js"></script>
</body>

</html>
